:root,
.light {
  --ui-primary: var(--ui-color-primary-900);
  --ui-success: var(--ui-color-success-900);
  --ui-info: var(--ui-color-info-800);
  --ui-text: var(--ui-color-neutral-950);
  --ui-text-toned: var(--ui-color-neutral-900);
  --ui-text-muted: var(--ui-color-neutral-600);
  --ui-text-dimmed: var(--ui-text-muted);
  --ui-secondary: var(--ui-color-secondary-800);
}

.dark {
  --ui-primary: var(--ui-color-primary-400);
  --ui-success: var(--ui-color-success-400);
  --ui-info: var(--ui-color-info-300);
  --ui-text: var(--color-white);
  --ui-text-toned: var(--ui-color-neutral-50);
  --ui-text-muted: var(--ui-color-neutral-300);
  --ui-text-dimmed: var(--ui-text-muted);
  --ui-secondary: var(--ui-color-secondary-300);

  --ui-bg: var(--color-card);
  --ui-bg-muted: var(--color-content);
  --ui-bg-elevated: var(--color-content);
  --ui-bg-accented: var(--color-surface-interactive);
  --ui-bg-inverted: var(--color-white);

  --ui-border: var(--color-stroke-subtle);
  --ui-border-muted: var(--color-stroke-subtle);
  --ui-border-accented: var(--color-stroke-subtle);
  --ui-border-inverted: var(--color-white);
}