@theme static {
  --font-sans: 'General Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #006638;
  --color-green-600: #00552E;
  --color-green-700: #004425;
  --color-green-800: #00331B;
  --color-green-900: #002212;
  --color-green-950: #001109;
}